[Unit]
Description=My Service
After=network.target

[Service]
ExecStart=/bin/bash /root/service/perception.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
